language: common-lisp
sudo: required
env:
  matrix:
    - LISP=sbcl COVERALLS=true
    - LISP=ccl

install:
  - curl https://raw.githubusercontent.com/luismbo/cl-travis/master/install.sh | sh;

script:
  - cl -l prove -l cl-coveralls -l cl-intbytes
       -e '(setf prove:*debug-on-error* t
                 *debugger-hook* (lambda (c h)
                                   (declare (ignore c h))
                                   (uiop:quit -1)))
           (or (coveralls:with-coveralls (:exclude "t")
                 (prove:run :cl-intbytes-test))
               (uiop:quit -1))'
